@{
    ViewData["Title"] = "Home Page";
    <li class="pure-menu-item pure-menu-selected">
        <a asp-asp-controller="ProductController"asp-action="productView">Product</a>
    </li>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
