@{
    ViewData["Title"] = "SA Online Mart";
}

<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="Menu">
        <p><a href="/Home">Home</a></p>
    </div>
    <div class="gallary">
    </div>
</body>
</html>
