@{
    ViewData["Title"] = "SA Online Mart";
}

<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="Menu">
        <p><a href="@Url.Content("~/home-page")">Home</a></p>
    </div>
    <div class="gallary">

        <div class="content">
            <img src="~/resources/eggs.jpg" alt="Eggs">
            <h3>Eggs</h3>
            <p>Placeholder text</p>
            <h6>Price</h6>
            <button class="buy">Add to cart</button>
        </div>

        <div class="content">
            <img src="~/resources/pasta.jpeg" alt="Pasta">
            <h3>Pasta</h3>
            <p>Placeholder text</p>
            <h6>Price</h6>
            <button class="buy">Add to cart</button>
        </div>

        <div class="content">
            <img src="~/resources/bread.jpg" alt="Bread">
            <h3>Bread</h3>
            <p>Placeholder text</p>
            <h6>Price</h6>
            <button class="buy">Add to cart</button>
        </div>

        <div class="content">
            <img src="~/resources/milk.jpg" alt="Milk">
            <h3>Milk</h3>
            <p>Placeholder text</p>
            <h6>Price</h6>
            <button class="buy">Add to cart</button>
        </div>

        <div class="content">
            <img src="~/resources/butter.jpg" alt="Butter">
            <h3>Butter</h3>
            <p>Placeholder text</p>
            <h6>Price</h6>
            <button class="buy">Add to cart</button>
        </div>

        <div class="content">
            <img src="~/resources/toothpaste.jpg" alt="Toothpaste">
            <h3>Toothpaste</h3>
            <p>Placeholder text</p>
            <h6>Price</h6>
            <button class="buy">Add to cart</button>
        </div>

    </div>
</body>

</html>
